body {
    background: red;
}

@media (horizontal-viewport-segments: 2) {
    body {
        background: green !important;
    }
}


/* @media (min-width: 540px) {
    body {
        background: blue !important;
    }
} */
